* {
	background-color: black;
	color: white;
	font-size: 24px;
	font-family: monospace;
}
#rng {
	font-size: 32px;
}
#rarity {
	font-size: 40px;
}
.rngbutton {
	color: "#fff";
	width: 140px;
	height: 60px;
}
.rngbutton:hover {
	transform: scale(1.1);
}
.rngbutton:disabled {
	color: "#888";
	width: 140px;
	height: 60px;
}
.rngbutton:active {
	color: "#ccc";
	width: 140px;
	height: 60px;
}
