html {
	background-color: black;
	color: white;
	font-size: 24px;
	font-family: monospace;
}
#rng {
	font-size: 32px;
}
#rarity {
	font-size: 40px;
}
.rngbutton {
	background-color: #fff;
	color: white;
	font-size: 24px;
	font-family: monospace;
	width: 140px;
	height: 60px;
}
.rngbutton:hover {
	transform: scale(1.1);
}
.rngbutton:disabled {
	background-color: #888;
	color: white;
	font-size: 24px;
	font-family: monospace;
	width: 140px;
	height: 60px;
}
.rngbutton:active {
	background-color: #ccc;
	color: white;
	font-size: 24px;
	font-family: monospace;
	width: 140px;
	height: 60px;
}
